body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1DB954;
    background: rgb(221, 213, 213);
}
/*Para el encabezado*/
header{
    background: #191414;
    border-top: 10px solid white;
    padding: 30PX 0;
    text-align: center;
}

footer{
    background: #191414;
    padding: 30PX 0;
}

div{
    border-radius: 10px;
}

/*button{
    color: #1DB954;
    background: #bbbbbb;
}*/

section{
    margin-bottom: 30px;
}

p{
    color: white;
}

ul{
    color: red;
}
.Sections{
    padding-top: 60px;
    padding-bottom: 60px;
}

h3{
    color: #19ef64;
}

.inner{
    background: #191414;
    padding: 30px;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}